git.txt
desktop.ini


3d
backup/
local/
old/
wiki/
GameKB.wiki
GameKB
~GameKB


#firmware
tmk_keyboard.7z
GameKB_tmk
boot
~boot
run-port.bat
AvrUSB500_by_Petka_HEX_SRC_v8_uni
hex2bin.exe
b.bat
dfu-programmer
dfu-programmer-win-0.7.2
PortablePythonFull




#firmware\EasyAVR\keymapper
1.bin
def.hex
tmp.hex
NumPad_lay.dat
NewLay2.dat
NewLay3.dat
easykeymap.egg-info

mint.txt


#firmware\EasyAVR\keymapper\easykeymap
PIL
PIL.pth


Model
key-size.ods




Autoit

leonardo



~bad
~std

Новый текстовый документ.txt



*.7z

*.gpi
*.xln

*.bak
*.lnk
*.log
*.b##
*.b#1
*.b#2
*.b#3
*.b#4
*.b#5
*.b#6
*.b#7
*.b#8
*.b#9
*.s##
*.s#1
*.s#2
*.s#3
*.s#4
*.s#5
*.s#6
*.s#7
*.s#8
*.s#9
*.l#1
*.l#2
*.l#3
*.l#4
*.l#5
*.l#6
*.l#7
*.l#8
*.l#9
*.mpd
*.pro
*.job