body{ background-color:#fff; margin:30px 0 0 30px ;}
*{margin:0px;padding:0px;}

// div{font-family:Arial;}

#keyboard{
//border:1px solid #00CEFF;
width:1170px;
height: 460px;
//background-color:#FFB237;
}

#keyboard table{padding:35px;border:none;} /*рамка по блокам*/
#umov{height:80px;} /*совмещение с высотой нумпада*/
#lrsize{width:55px;}/*разделитель клавиатур*/
#lkb {-moz-transform: rotate(15deg); /* Firefox */  }
#rkb {-moz-transform: rotate(-15deg); /* Firefox */ }
.lrkb{width:400px;}


//#numkey {padding-left: 12px;}
#numkey div.block {-moz-transform:translate(-40px) ;}

.block{
float:left;
margin-left:1px;
//background-color:#E2802A;




}



.l1 {text-align:center;}/*labels keys*/
.nc{background-color:transparent !important;}
.nc50{background-color:transparent;
width:14px;
height:15px;
float:left;
}
.nc1{width:31px;}/*f1-*/
.nc2{width:45px;}/*1-*/
.nc3{width:25px;}/*tab-*/
.nc4{width:15px;}/*ctrl-*/
.nc5{width:5px;}/*lshift- (1=45)*/
.nc6{width:45px;}/*spice-*/
.clear{clear:both;}

.nc1a{width:32px;}
.nc2a{width:0px;}
.nc3a{width:26px;}
.nc4a{width:16px;}
.nc5a{width:6px;}




/*keys size*/
.key1x1 {
width:40px;
height:40px;
color:#fff;
font-size:0.9em;
background-color:#000;
margin:2px;/*внешний отступ*/
float:left;
}
.key1x125 {
width:50px;
height:40px;
color:#fff;
font-size:0.9em;
background-color:#000;
margin:2px;/*внешний отступ*/
float:left;
}
.key1x15 {
width:60px;
height:40px;
color:#fff;
font-size:0.9em;
background-color:#000;
margin:2px;/*внешний отступ*/
float:left;
}
.key1x175 {
width:70px;
height:40px;
color:#fff;
font-size:0.9em;
background-color:#000;
margin:2px;/*внешний отступ*/
float:left;
}
.key1x2{
width:80px;
height:40px;
color:#fff;
font-size:0.9em;
background-color:#000;
margin:2px;/*внешний отступ*/
float:left;
}
.key1x225 {
width:90px;
height:40px;
color:#fff;
font-size:0.9em;
background-color:#000;
margin:2px;/*внешний отступ*/
float:left;
}
.key1x275 {
width:110px;
height:40px;
color:#fff;
font-size:0.9em;
background-color:#000;
margin:2px;/*внешний отступ*/
float:left;
}

.key1x625 {
width:250px;
height:40px;
color:#fff;
font-size:0.9em;
background-color:#000;
margin:2px;/*внешний отступ*/
float:left;
}

/*end keys size*/
.key1x1 div , .key1x15 div
{
width:50%;
height:50%;
float:left;
}
.key50{
width:100%;
text-align:center;
}
.con{color:#12FEFE;}
.koff{background:#FF5565;}

.fspace {margin-left:-45px;}





